.clash{font-family: 'ClashDisplay-Semibold';
}
.clash-bold{font-family: 'ClashDisplay-Bold';
}

.clash-regular{font-family: 'ClashDisplay-Regular';
}

@media(max-width: 768px){
    .mediaSuscribe{display: none;
    }
}